# Frontend
node_modules/
dist/
build/
.vite/

# Env files
.env
.env.*
!.env.example

# Backend
__pycache__/
*.pyc
venv/

# Logs
*.log

# OS
.DS_Store

# AI
vector_db/
chroma/
faiss_index/

# IDE
.vscode/
.idea/